manifest {
  author = 'BCCDC-PHL:Dan Fornika. oicr-gsi: Jared Simpson, Richard de Borja.'
  description = 'Quality Control analyses for BCCDC-PHL/mpxv-artic-nf pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}


params {
  run_dir = 'NO_FILE'
  bed = 'NO_FILE'
  primer_pairs_tsv = 'NO_FILE'
  build_snpeff_db = false
  artic_pipeline_name = "mpxv-artic-nf"
  artic_analysis_version = "v0.1"
  artic_analysis_subdir = artic_pipeline_name + "-" + artic_analysis_version + "-output"
  artic_consensus_subdir = "mpxvIllumina_sequenceAnalysis_callConsensusFreebayes"
  artic_consensus_filename_suffix = ".consensus.fa"
  artic_variants_subdir = "mpxvIllumina_sequenceAnalysis_callConsensusFreebayes"
  artic_variants_filename_suffix = ".variants.norm.vcf"
  artic_alignment_subdir = "mpxvIllumina_sequenceAnalysis_trimPrimerSequences"
  artic_alignment_filename_suffix = ".mapped.primertrimmed.sorted.bam"
  minimum_genome_completeness = 0.85
  partial_genome_threshold = 0.85
  incomplete_genome_threshold = 0.50
  excess_ambiguity_threshold = 5
  nextclade_dataset = 'hMPXV'
  
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

process {
  withName: nextclade {
    cpus = 8
  }
}
